.comments_title {
    text-align: center;
    margin-bottom: 20px;
}

.comments {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.comments .swiper-slide {
    height: 150px;
    background-color: #FFF;
}